# NOTEBOOK 01: This notebook imports the raw data and returns a cleaned version of each dataset

In [20]:
# Importing necessary libraries for the analysis

import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np

In [35]:
## PART 1: downloading data (Justine)

# importing the dataset
df1 = pd.read_csv("C:/Users/justi/Data_Analysis_Python/Introduction_to_Python/Final project/sdg_04_10_page_linear.csv/sdg_04_10_page_linear.csv")
df2 =pd.read_csv("C:/Users/justi/Data_Analysis_Python/Introduction_to_Python/Final project/sdg_03_30_page_linear.csv/sdg_03_30_page_linear.csv")

In [29]:
## PART 1: downloading data (Nils)

# importing the dataset
df1 = pd.read_csv(r"C:\Users\nilsr\Desktop\Uni\Masters\z.Python\Python-Introduction-Smoking-Prevalence\data\raw\sdg_04_10.csv")
df2 = pd.read_csv(r"C:\Users\nilsr\Desktop\Uni\Masters\z.Python\Python-Introduction-Smoking-Prevalence\data\raw\sdg_03_30.csv")

In [36]:
## PART 2

#quick glance at the data
df1.head
df2.head

<bound method NDFrame.head of                  DATAFLOW        LAST UPDATE    freq               age    sex  \
0    ESTAT:SDG_03_30(1.0)  13/03/25 23:00:00  Annual  15 years or over  Total
1    ESTAT:SDG_03_30(1.0)  13/03/25 23:00:00  Annual  15 years or over  Total
2    ESTAT:SDG_03_30(1.0)  13/03/25 23:00:00  Annual  15 years or over  Total
3    ESTAT:SDG_03_30(1.0)  13/03/25 23:00:00  Annual  15 years or over  Total
4    ESTAT:SDG_03_30(1.0)  13/03/25 23:00:00  Annual  15 years or over  Total
..                    ...                ...     ...               ...    ...
202  ESTAT:SDG_03_30(1.0)  13/03/25 23:00:00  Annual  15 years or over  Total
203  ESTAT:SDG_03_30(1.0)  13/03/25 23:00:00  Annual  15 years or over  Total
204  ESTAT:SDG_03_30(1.0)  13/03/25 23:00:00  Annual  15 years or over  Total
205  ESTAT:SDG_03_30(1.0)  13/03/25 23:00:00  Annual  15 years or over  Total
206  ESTAT:SDG_03_30(1.0)  13/03/25 23:00:00  Annual  15 years or over  Total

                               unit             geo  TIME_PERIOD  OBS_VALUE  \
0    Percentage of total population         Austria         2006         31
1    Percentage of total population         Austria         2009         34
2    Percentage of total population         Austria         2012         33
3    Percentage of total population         Austria         2014         26
4    Percentage of total population         Austria         2017         28
..                              ...             ...          ...        ...
202  Percentage of total population  United Kingdom         2009         28
203  Percentage of total population  United Kingdom         2012         27
204  Percentage of total population  United Kingdom         2014         22
205  Percentage of total population  United Kingdom         2017         17
206  Percentage of total population  United Kingdom         2020         12

    OBS_FLAG  CONF_STATUS
0        NaN          NaN
1        NaN          NaN
2        NaN          NaN
3        NaN          NaN
4        NaN          NaN
..       ...          ...
202      NaN          NaN
203      NaN          NaN
204      NaN          NaN
205      NaN          NaN
206      NaN          NaN

[207 rows x 11 columns]>

In [ ]:
# check missing values

df1.isnull().sum()
df2.isnull().sum()

DATAFLOW         0
LAST UPDATE      0
freq             0
age              0
sex              0
unit             0
geo              0
TIME_PERIOD      0
OBS_VALUE        0
OBS_FLAG       202
CONF_STATUS    207
dtype: int64

In [37]:
# get information on datasets
df1.info()
df2.info()
# df1 : 12 columns, 864 entries, NaN in "CONF_status" and "OBS_flag"
# df2 : 11 columns, 207 entries, same NaN than df1
# weird variables types sometimes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 864 entries, 0 to 863
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   DATAFLOW     864 non-null    object
 1   LAST UPDATE  864 non-null    object
 2   freq         864 non-null    object
 3   unit         864 non-null    object
 4   wstatus      864 non-null    object
 5   age          864 non-null    object
 6   sex          864 non-null    object
 7   geo          864 non-null    object
 8   TIME_PERIOD  864 non-null    int64
 9   OBS_VALUE    862 non-null    float64
 10  OBS_FLAG     224 non-null    object
 11  CONF_STATUS  0 non-null      float64
dtypes: float64(2), int64(1), object(9)
memory usage: 81.1+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207 entries, 0 to 206
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   DATAFLOW     207 non-null    object
 1   LAST UPDATE  207 non-null    object
 2   freq         207 non-null    object
 3   age          207 non-null    object
 4   sex          207 non-null    object
 5   unit         207 non-null    object
 6   geo          207 non-null    object
 7   TIME_PERIOD  207 non-null    int64
 8   OBS_VALUE    207 non-null    int64
 9   OBS_FLAG     5 non-null      object
 10  CONF_STATUS  0 non-null      float64
dtypes: float64(1), int64(2), object(8)
memory usage: 17.9+ KB

In [ ]:
# PART 3

# cleaning the names
df1.columns =(df1.columns.str.lower().str.strip().str.replace(" ", "_"))
print(df1.columns)

df2.columns =(df2.columns.str.lower().str.strip().str.replace(" ", "_"))
print(df2.columns)

Index(['dataflow', 'last_update', 'freq', 'unit', 'wstatus', 'age', 'sex',
       'geo', 'time_period', 'obs_value', 'obs_flag', 'conf_status'],
      dtype='object')
Index(['dataflow', 'last_update', 'freq', 'age', 'sex', 'unit', 'geo',
       'time_period', 'obs_value', 'obs_flag', 'conf_status'],
      dtype='object')

,dataflow,last_update,freq,age,sex,unit,geo,time_period,obs_value,obs_flag,conf_status
0,ESTAT:SDG_03_30(1.0),13/03/25 23:00:00,Annual,15 years or over,Total,Percentage of total population,Austria,2006,31,NaN,NaN
1,ESTAT:SDG_03_30(1.0),13/03/25 23:00:00,Annual,15 years or over,Total,Percentage of total population,Austria,2009,34,NaN,NaN
2,ESTAT:SDG_03_30(1.0),13/03/25 23:00:00,Annual,15 years or over,Total,Percentage of total population,Austria,2012,33,NaN,NaN
3,ESTAT:SDG_03_30(1.0),13/03/25 23:00:00,Annual,15 years or over,Total,Percentage of total population,Austria,2014,26,NaN,NaN
4,ESTAT:SDG_03_30(1.0),13/03/25 23:00:00,Annual,15 years or over,Total,Percentage of total population,Austria,2017,28,NaN,NaN

In [32]:
# correct variable types

df1["last_update"] = pd.to_datetime(df1["last_update"], errors="coerce")
df2["last_update"] = pd.to_datetime(df2["last_update"], errors="coerce")

categorial_cols = ["freq", "unit", "age", "sex", "geo"]
df1[categorial_cols] = df1[categorial_cols].astype("category")
df2[categorial_cols] = df2[categorial_cols].astype("category")

df1.head()
df2.head()

,dataflow,last_update,freq,age,sex,unit,geo,time_period,obs_value,obs_flag,conf_status
0,ESTAT:SDG_03_30(1.0),2025-03-13 23:00:00,Annual,15 years or over,Total,Percentage of total population,Austria,2006,31,NaN,NaN
1,ESTAT:SDG_03_30(1.0),2025-03-13 23:00:00,Annual,15 years or over,Total,Percentage of total population,Austria,2009,34,NaN,NaN
2,ESTAT:SDG_03_30(1.0),2025-03-13 23:00:00,Annual,15 years or over,Total,Percentage of total population,Austria,2012,33,NaN,NaN
3,ESTAT:SDG_03_30(1.0),2025-03-13 23:00:00,Annual,15 years or over,Total,Percentage of total population,Austria,2014,26,NaN,NaN
4,ESTAT:SDG_03_30(1.0),2025-03-13 23:00:00,Annual,15 years or over,Total,Percentage of total population,Austria,2017,28,NaN,NaN

In [ ]:
# drop useless and NaN full columns
df1 = df1.drop(columns=["conf_status", "obs_flag", "dataflow"])
df2 = df2.drop(columns=["conf_status", "obs_flag", "dataflow"])

df1.head()
df2.head()

,last_update,freq,age,sex,unit,geo,time_period,obs_value
0,13/03/25 23:00:00,Annual,15 years or over,Total,Percentage of total population,Austria,2006,31
1,13/03/25 23:00:00,Annual,15 years or over,Total,Percentage of total population,Austria,2009,34
2,13/03/25 23:00:00,Annual,15 years or over,Total,Percentage of total population,Austria,2012,33
3,13/03/25 23:00:00,Annual,15 years or over,Total,Percentage of total population,Austria,2014,26
4,13/03/25 23:00:00,Annual,15 years or over,Total,Percentage of total population,Austria,2017,28

In [45]:
# PART 4

# returning a clean version of the dataset

df1.to_csv("C:/Users/justi/Introduction-to-Python-S1-M1/Python-Introduction-Smoking-Prevalence/data/clean_df1.csv")
df2.to_csv("C:/Users/justi/Introduction-to-Python-S1-M1/Python-Introduction-Smoking-Prevalence/data/clean_df2.csv")