# NOTEBOOK 01: This notebook imports the raw data and returns a cleaned version of each dataset

In [20]:
# Importing necessary libraries for the analysis

import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np

In [ ]:
## PART 1: downloading data (Justine)

# importing the dataset
df1 = pd.read_csv("C:/Users/justi/Data_Analysis_Python/Introduction_to_Python/Final project/sdg_04_10_page_linear.csv/sdg_04_10_page_linear.csv")
df2 =pd.read_csv("C:/Users/justi/Data_Analysis_Python/Introduction_to_Python/Final project/sdg_03_30_page_linear.csv/sdg_03_30_page_linear.csv")

In [29]:
## PART 1: downloading data (Nils)

# importing the dataset
df1 = pd.read_csv(r"C:\Users\nilsr\Desktop\Uni\Masters\z.Python\Python-Introduction-Smoking-Prevalence\data\raw\sdg_04_10.csv")
df2 = pd.read_csv(r"C:\Users\nilsr\Desktop\Uni\Masters\z.Python\Python-Introduction-Smoking-Prevalence\data\raw\sdg_03_30.csv")

In [35]:
## PART 2

#quick glance at the data
df1.head
df2.head

<bound method NDFrame.head of                  DATAFLOW        LAST UPDATE    freq               age  \
0    ESTAT:SDG_03_30(1.0)  13/03/25 23:00:00  Annual  15 years or over
1    ESTAT:SDG_03_30(1.0)  13/03/25 23:00:00  Annual  15 years or over
2    ESTAT:SDG_03_30(1.0)  13/03/25 23:00:00  Annual  15 years or over
3    ESTAT:SDG_03_30(1.0)  13/03/25 23:00:00  Annual  15 years or over
4    ESTAT:SDG_03_30(1.0)  13/03/25 23:00:00  Annual  15 years or over
..                    ...                ...     ...               ...
616  ESTAT:SDG_03_30(1.0)  13/03/25 23:00:00  Annual  15 years or over
617  ESTAT:SDG_03_30(1.0)  13/03/25 23:00:00  Annual  15 years or over
618  ESTAT:SDG_03_30(1.0)  13/03/25 23:00:00  Annual  15 years or over
619  ESTAT:SDG_03_30(1.0)  13/03/25 23:00:00  Annual  15 years or over
620  ESTAT:SDG_03_30(1.0)  13/03/25 23:00:00  Annual  15 years or over

         sex                            unit             geo  TIME_PERIOD  \
0    Females  Percentage of total population         Austria         2006
1    Females  Percentage of total population         Austria         2009
2    Females  Percentage of total population         Austria         2012
3    Females  Percentage of total population         Austria         2014
4    Females  Percentage of total population         Austria         2017
..       ...                             ...             ...          ...
616    Total  Percentage of total population  United Kingdom         2009
617    Total  Percentage of total population  United Kingdom         2012
618    Total  Percentage of total population  United Kingdom         2014
619    Total  Percentage of total population  United Kingdom         2017
620    Total  Percentage of total population  United Kingdom         2020

     OBS_VALUE OBS_FLAG  CONF_STATUS
0           24      NaN          NaN
1           27      NaN          NaN
2           26      NaN          NaN
3           23      NaN          NaN
4           23      NaN          NaN
..         ...      ...          ...
616         28      NaN          NaN
617         27      NaN          NaN
618         22      NaN          NaN
619         17      NaN          NaN
620         12      NaN          NaN

[621 rows x 11 columns]>

In [ ]:
# check missing values

df1.isnull().sum()
df2.isnull().sum()